# Carpetas de build que no deben subirse
.gradle/
.idea/
build/
app/build/

# Caches y archivos temporales
*.iml
*.log
*.zip
*.jar
*.apk
*.cach
*.dex
*.class
*.hprof
*.DS_Store

# Archivos específicos de Android Studio
/local.properties
*.keystore

# Archivos grandes que genera Android Studio
**/zip-cache/
